.page--not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}

.heading {
  font-size: 48px;
  color: #000000;
  display: flex;
  margin: auto;
}